<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MysqlKeyDBTest"
             connectionString="server=127.0.0.1;port=3306;user=testuser;password=testpassword;database=testdb"
             providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <gcConcurrent enabled="true"/>
  </runtime>
</configuration>