<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection"
         connectionString="server=127.0.0.1;port=3306;user=testuser;password=testpassword;database=testdb"
         providerName="System.Data.SqlClient"/>
    <add name="PostgreSqlConnection"
         connectionString="Host=localhost;Port=5432;Database=MyDatabase;Username=MyUser;Password=MyPassword;"
         providerName="Npgsql"/>
  </connectionStrings>
  <runtime>
    <gcConcurrent enabled="true"/>
  </runtime>
</configuration>