<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection"
         connectionString="server=127.0.0.1;port=3306;user=testuser;password=testpassword;database=testdb"
         providerName="System.Data.SqlClient"/>
    <add name="PostgreSqlConnection"
         connectionString="Host=localhost;Port=5432;Database=testdb;Username=testuser;Password=testpassword;"
         providerName="Npgsql"/>
    <add name="MongoDBConnection"
         connectionString="mongodb://testuser:testpassword@localhost:27017/testdb?connectTimeoutMS=2000&amp;serverSelectionTimeoutMS=2000"
         providerName="MongoDB.Driver"/>
  </connectionStrings>
  <runtime>
    <gcConcurrent enabled="true"/>
  </runtime>
</configuration>